.bebidas-container {
  background-color: #6b0715;
  color: #ffcc70;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.bebidas-container h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.categoria-bebida {
  margin: 20px 0;
}

.categoria-bebida h3 {
  font-size: 2em;
  color: #fff3e0;
}

.categoria-bebida ul {
  list-style: none;
  padding: 0;
}

.categoria-bebida li {
  font-size: 1.4em;
  padding: 5px;
  font-weight: bold;
}