.primary {
  background: linear-gradient(45deg, #87E889, #0D450E);
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

.primary:hover {
  background: linear-gradient(45deg, #218838, #1e7e34);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.secondary {
  background: linear-gradient(45deg, #b1b1b1, #707070);
  color: black;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

.secondary:hover {
  background: linear-gradient(45deg, #707070, #505050);
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
